[include mainsail.cfg]
[include config.d/*.cfg]
#[include input_shaper/PIS.cfg]
#[include input_shaper/nozzle_mounted.cfg]

###########################
###     MAIN FILES      ###
###########################
[include config.d/main.cfg]
[include config.d/board_pins.cfg]

#####################
### MACROS FOLDER ###
#####################
[include macros/*.cfg]
[include klicky/klicky-probe.cfg]
[include macros/KAMP_Settings.cfg]


###########################
### HARDWARE COMPONENTS ###
###########################
[include config.d/hardware/extruder.cfg]
[include config.d/hardware/fans.cfg]
[include config.d/hardware/xy.cfg]
[include config.d/hardware/z.cfg]
[include config.d/hardware/probe.cfg]
[include config.d/hardware/heater_bed.cfg]
[include config.d/hardware/lights.cfg]
[include config.d/hardware/display.cfg]

###########################
### SOFTWARE COMPONENTS ###
###########################
[include config.d/software/bed_mesh.cfg]
[include config.d/software/qgl.cfg]

###############
### SCRIPTS ###
###############
[include scripts/*.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 46.650
#*# pid_ki = 1.840
#*# pid_kd = 295.644
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 23.197
#*# pid_ki = 1.419
#*# pid_kd = 94.818
#*#
#*# [input_shaper]
#*# shaper_type_x = zv
#*# shaper_freq_x = 67.0
#*# shaper_type_y = mzv
#*# shaper_freq_y = 47.2
#*#
#*# [probe]
#*# z_offset = 2.715
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.006238, 0.007488, 0.001238
#*# 	  0.009988, -0.000012, -0.010012
#*# 	  0.004988, 0.017488, 0.007488
#*# tension = 0.2
#*# min_x = 124.79
#*# algo = lagrange
#*# y_count = 3
#*# mesh_y_pps = 2
#*# min_y = 117.74
#*# x_count = 3
#*# max_y = 182.26
#*# mesh_x_pps = 2
#*# max_x = 175.27
