[include mainsail.cfg]
[include config.d/*.cfg]
#[include input_shaper/PIS.cfg]
#[include input_shaper/nozzle_mounted.cfg]

###########################
###     MAIN FILES      ###
###########################
[include config.d/main.cfg]
[include config.d/board_pins.cfg]

#####################
### MACROS FOLDER ###
#####################
[include macros/*.cfg]
[include klicky/klicky-probe.cfg]
[include macros/KAMP_Settings.cfg]


###########################
### HARDWARE COMPONENTS ###
###########################
[include config.d/hardware/extruder.cfg]
[include config.d/hardware/fans.cfg]
[include config.d/hardware/xy.cfg]
[include config.d/hardware/z.cfg]
[include config.d/hardware/probe.cfg]
[include config.d/hardware/heater_bed.cfg]
[include config.d/hardware/lights.cfg]
[include config.d/hardware/display.cfg]

###########################
### SOFTWARE COMPONENTS ###
###########################
[include config.d/software/bed_mesh.cfg]
[include config.d/software/qgl.cfg]

###############
### SCRIPTS ###
###############
[include scripts/*.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 46.650
#*# pid_ki = 1.840
#*# pid_kd = 295.644
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 41.253
#*# pid_ki = 16.178
#*# pid_kd = 26.299
#*#
#*# [input_shaper]
#*# shaper_type_x = zv
#*# shaper_freq_x = 67.0
#*# shaper_type_y = mzv
#*# shaper_freq_y = 47.2
#*#
#*# [probe]
#*# z_offset = 6.630
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.020512, -0.006762, -0.006762, -0.005512, -0.011762, -0.036762
#*# 	-0.015512, -0.003012, -0.005512, -0.008012, -0.010512, -0.041762
#*# 	-0.010512, 0.004488, 0.000738, -0.000512, -0.008012, -0.031762
#*# 	-0.013012, 0.000738, -0.000512, -0.000512, -0.006762, -0.026762
#*# 	-0.021762, -0.004262, -0.001762, 0.000738, -0.003012, -0.025512
#*# tension = 0.2
#*# min_x = 72.35
#*# algo = lagrange
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 90.83
#*# x_count = 6
#*# max_y = 209.15
#*# mesh_x_pps = 2
#*# max_x = 227.6
